{{/*
  Copyright 2016 Team 254. All Rights Reserved.
  Author: pat@patfairbank.com (Patrick Fairbank)

  HTML template for reformatting mailing list messages.
*/}}
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="center">
      <table>
        <tr>
          <td width="475px" valign="top" style="font-size: 10pt!important;font-family: Century Gothic, sans-serif!important;line-height: 1.5em!important; color: #333;">
            {{.Body}}
          </td>
          <td width="100px" valign="top" style="font-size: 8pt!important;font-family: Century Gothic, sans-serif!important;line-height: 1.5em!important; color: #333; padding-left: 15px; text-align: right; padding-bottom: 10px;">
            <a href="http://team254.com" target=_blank><img src="http://media.team254.com/resources/graphics/swoosh-email.png" width="100px" style="margin-right:-5px"></a>
            <br/><br/>
            <strong>Team 254 Robotics</strong>
            <br/>
            {{.Date}}
          </td>
        </tr>
        <tr>
          <td colspan="2" width="599px" style="padding: 10px 50px 0; font-size: 8pt!important;font-family: Century Gothic, sans-serif!important;line-height: 1.5em!important; color: #ccc; border-top: 1px solid #ccc; text-align: center;">
            <p>This message may contain confidential information. Please do not distribute outside of the team.</p>
            <p>You are recieving this message because you are a registered user on
              <a href="http://team254.com" style="color: #ccc" target=_blank>team254.com</a>. To modify your
              subscription, please email <a href="mailto:admin@team254.com" style="color: #ccc;">admin@team254.com</a>.</p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
{{if .IsDebug}}
  <p><b>Debugging information</b></p>
  <p>Recipients:<br />
    {{range $recipient := .AllRecipients}}
      {{$recipient}}<br />
    {{end}}
  </p>
{{end}}
